<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap 4 CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- CSS  -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<title>Brandon S Frazier</title>

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Brandon S Frazier</span>
    <span class="d-none d-lg-block">
      <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/images/Brandon_Frazier.png" alt="">
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#photos">Photos</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Brandon S
        <span class="text-primary">Frazier</span>
      </h1>
      <div class="subheading mb-5">Miami, FL · 
        <a href="mailto:name@email.com">bfrazier1018@gmail.com</a>
      </div>
      <p class="lead mb-5">Competitive Global Account Manager with diverse experiences in Enterprise Software, Artificial Intelligence,
        Data Analytics, Software Engineering, & Pharmaceuticals, enabling a predictable model of business and technology
      outcomes. Wide receiver for the 2008 National Championship University of Florida Football Team.</p>
      <ul class="list-inline list-social-icons mb-0">
      	<li class="list-inline-item">
          <a href="https://www.linkedin.com/in/brandonfrazier2/" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/profile.php?id=2058684" target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fas fa-circle fa-stack-2x"></i>
              <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Kairos AR, Inc</h3>
          <div class="subheading mb-3">Global Account Manager</div>
          <p>Increased monthly revenue 45% first month by closing key accounts and restructuring pricing</p>
          <p>Partnered with company CEO to secure additional investments and open the company's largest revenue
          deal
          </p>
          <p>Collaborated with global companies in implementing custom self-hosted solutions utilizing SDKs, Docker,
           Kubernetes, Linux, and NoSQL Databases.</p>
           <p>Strategically worked with CTO and Chief Scientist Officer to provide feedback towards improving
           our deep learning algorithm.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2018 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">PowerPivotPro LLC</h3>
          <div class="subheading mb-3">Director of Sales</div>
          <p>Exceeded target objective for fiscal year 2017 - 2018 at 115% to plan generating $2.3M in revenue
          as a startup</p>
          <p>Responsible for managing and growing 50+ accounts ranging from small businesses up to Fortune 10 Companies</p>
          <p>Built relationships with C Level Executives and VPs from top global companies including: Walmart, Microsoft,
           Chevron, Adobe, Tyco, Metlife, Discovery, and Abbott to secure ongoing revenue deals</p>
          <p>Developed company's global sales strategy and hired, trained, and managed new account manager</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2016 - 2018</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">CarSaver</h3>
          <div class="subheading mb-3">Software Engineer</div>
          <p>Built text message infrastructure to handle customer alerts and improve user experience</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2016 - 2016</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Daiichi Sankyo, Inc</h3>
          <div class="subheading mb-3">Pharmaceutical Sales</div>
          <p>1st Place in the Hypertension Fast Start Contest for Benicar, Azor, Tribenzor</p>
          <p>Ranked 3rd in the nation for Rookie of the Year increasing territory hypertension sales by 35%</p>
          <p>1st Place in UHC/AARP Southeast Region Contest for Hypertenstion growth quarter over quarter</p>
          <p>Responsible for new pain management product launch, SPRIX, into assigned territory</p>
          <p>Developed regression analysis report to target highly influencable prescribers within territory</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2011 - 2015</span>
        </div>
      </div>

    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">University of Florida</h3>
          <div class="subheading mb-3">Bachelor of Science, Economics</div>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Ironhack</h3>
          <div class="subheading mb-3">Full Stack Software Development</div>
        </div>
      </div>

       <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="subheading mb-3"><b>Certifications</b></h3>
          
          <ul class="fa-ul mb-0">
            <li class="lead mb-5">
              <i class="fa-li fa fa-trophy text-warning"></i>
                Trailhead - Salesforce Developer Curriculum
            </li>
            <li class="lead mb-5">
              <i class="fa-li fa fa-trophy text-warning"></i>
                Speed Language Learning - Advanced Spanish 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Technical Compentencies</h2>

      <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-aws"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-node-js"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-npm"></i>
            </li>
              <li class="list-inline-item">
              <i class="fab fa-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt"></i>
            </li>
             <li class="list-inline-item">
              <i class="fab fa-docker"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-github"></i>
            </li>
             <li class="list-inline-item">
              <i class="fab fa-google"></i>
            </li>
            </li>
             <li class="list-inline-item">
              <i class="fab fa-microsoft"></i>
            </li>
          </ul>

      <ul class="list-inline list-icons">
        <li class="list-inline-item">
          <i class="devicons devicons-html5"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-css3"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-javascript"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-jquery"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-sass"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-less"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-bootstrap"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-wordpress"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-grunt"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-gulp"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-npm"></i>
        </li>
      </ul>

      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Amazon Elastic Compute Cloud (EC2)</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Amazon Simple Storage Service (S3)</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Amazon CloudFront</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Heroku Deployment</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Docker</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Kubernetes</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Office 365</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Google Suite</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Salesforce</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          JavaScript</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          NodeJS</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          GitHub</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          HTML & CSS</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Power BI</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Business Planning and Modeling</li>
          <li>
          <i class="fa-li fa fa-check"></i>
          Market Trends and Innovations</li>
          <li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">Interests</h2>
      <p class="lead mb-5">Outside of my career, most of my time is spent being active, learning new skills, and most of all traveling.</p>
      <p class="lead mb-5">I'm an avid fan of both playing and watching football, basketball, tennis, and golf with my preference being
       towards collegiate sports (University of Florida). Working out, going to the beach, and hiking are also common activities for me.</p>
       <p class="lead mb-5">When forced to be indoors, I enjoy teaching myself new languages and technologies, building websites, 
       watching movies, and reading about health &amp; nutrition.</p>
       <p class="lead mb-5">To date, I have visited 13 countries on 3 continents and aiming to visit at least one new country each year.</p>
       <ul>
          <li>USA</li>
          <li>Canada</li>
          <li>England</li>
          <li>France</li>
          <li>Italy</li>
          <li>Mexico</li>
          <li>Colombia</li>
          <li>Germany</li>
          <li>Austria</li>
          <li>Czech Republic</li>
          <li>Hungary</li>
          <li>Ecuador</li>
          <li>Spain</li>
       </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="photos">
    <div class="my-auto">
      <h2 class="mb-5">Photos</h2>
      <img class="img-fluid img-photos" src="/images/Brandon_Chas.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Colombia.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Rome_Group.jpeg" alt="">
      <img class="img-fluid img-photos" src="/images/Kickoff.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Tackling_Drill.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Blaylock_Wedding.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Kentucky_Game.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/White House.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Ecuador_Hike.jpeg" alt="">
      <img class="img-fluid img-photos" src="/images/National_Game.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Football_Reunion.jpg" alt="">
      <img class="img-fluid img-photos" src="/images/Volcano.jpg" alt="">
    </div>
  </section>

</div>

<!-- ****** Scripts ******  -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<!-- Personal JavaScript File -->
<script type="text/javascript" src="/javascripts/main.js"></script>

</body>
</html>
